/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
gitpass
/public/api_docs/*
.DS_Store
/public/user.ini
/dist
dist/index.html
/public/sitemap.xml
/public/robots.txt
check-seo.mjs
/private
check-cf-pages-status.mjs
sync-website-branches.sh
check-cf-pages-sync.mjs
deploy-cf-pages.mjs